---
title: Technology
permalink: /overview/
layout: default
---

<div class="entry-content">
    <div id="pl-269" class="panel-layout">
        <div id="pg-269-0" class="panel-grid panel-has-style">
            <div class="pagelayout pagelayout-full panel-row-style panel-row-style-for-269-0">
                <div id="pgc-269-0-0" class="panel-grid-cell">
                    <div id="panel-269-0-0-0" class="so-panel widget widget_black-studio-tinymce widget_black_studio_tinymce panel-first-child panel-last-child" data-index="0">
                        <div class="textwidget">
                            <h2 style="text-align: center;">KDE Plasma/Qt Technology</h2>
                            <p style="text-align: center;">Using the multi-platform toolkit Qt, the flexible extensions of KDE Frameworks plus the power of Plasma Shell, Plasma Mobile is built with technology which feels equally at home on the desktop and mobile devices.</p>
                            <img class=" size-full wp-image-276 aligncenter" src="/img/hero.jpg" alt="hero" width="2000" height="1200" /></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="pg-269-1" class="panel-grid panel-has-style">
            <div class="pagelayout-row panel-row-style panel-row-style-for-269-1">
                <div id="pgc-269-1-0" class="panel-grid-cell">
                    <div class="pagelayout panel-cell-style panel-cell-style-for-269-1-0">
                        <div id="panel-269-1-0-0" class="so-panel widget widget_black-studio-tinymce widget_black_studio_tinymce panel-first-child panel-last-child" data-index="1">
                            <div class="clear-img panel-widget-style panel-widget-style-for-269-1-0-0">
                                <div class="textwidget">
                                    <p><img class="alignnone size-full wp-image-277" src="/img/wayland.png" alt="wayland" width="600" height="500" /></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="pgc-269-1-1" class="panel-grid-cell">
                    <div class="pagelayout panel-cell-style panel-cell-style-for-269-1-1">
                        <div id="panel-269-1-1-0" class="so-panel widget widget_black-studio-tinymce widget_black_studio_tinymce panel-first-child panel-last-child" data-index="2">
                            <div class="textwidget">
                                <h2>KWin and Wayland</h2>
                                <p>Wayland is the next-generation protocol for delivering cutting-edge interfaces which are silky smooth. KWin is the battle-tested window manager which implements Wayland, delivering a polished and reliable experience on both the desktop and mobile devices.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="pg-269-2" class="panel-grid panel-has-style">
            <div class="pagelayout-row panel-row-style panel-row-style-for-269-2">
                <div id="pgc-269-2-0" class="panel-grid-cell">
                    <div class="pagelayout panel-cell-style panel-cell-style-for-269-2-0">
                        <div id="panel-269-2-0-0" class="so-panel widget widget_black-studio-tinymce widget_black_studio_tinymce panel-first-child panel-last-child" data-index="3">
                            <div class="textwidget">
                                <h2>Making full use of Open Source</h2>
                                <p>Plasma Mobile combines many powerful software tools from established projects to make a whole greater than the sum of its parts. The software chosen is reliable and of the highest quality, and we are proud to pass that quality to you and share the spotlight with these excellent projects.<br /> libHybris provides ARM-driven graphics, DRM (Direct Rendering Manager) provides Intel graphics. Voicecall by NemoMobile is a quality Qt-driven dialer, Ofono provides our telephone solution, Telepathy offers many communication utilities, and Pulseaudio drives the Plasma Mobile sound system.</p>
                                <ul>
                                    <li><a href="https://source.android.com/devices/index.html" target="_blank">AOSP (Android Open Source Project)</a></li>
                                    <li><a href="https://linuxcontainers.org/" target="_blank">LXC</a></li>
                                    <li><a href="https://en.wikipedia.org/wiki/Hybris_%28software%29" target="_blank">libhybris</a></li>
                                    <li><a href="https://en.wikipedia.org/wiki/Direct_Rendering_Manager" target="_blank">DRM (Direct Rendering Manager)</a></li>
                                    <li><a href="https://github.com/nemomobile/voicecall" target="_blank">Voicecall</a></li>
                                    <li><a href="https://01.org/ofono" target="_blank">Ofono</a></li>
                                    <li><a href="https://en.wikipedia.org/wiki/Telepathy_%28software%29" target="_blank">Telepathy</a></li>
                                    <li><a href="https://en.wikipedia.org/wiki/PulseAudio" target="_blank">Pulseaudio</a></li>
                                    <li><a href="https://halium.org/" target="_blank">Halium</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="pgc-269-2-1" class="panel-grid-cell">
                    <div class="pagelayout panel-cell-style panel-cell-style-for-269-2-1">
                        <div id="panel-269-2-1-0" class="so-panel widget widget_black-studio-tinymce widget_black_studio_tinymce panel-first-child panel-last-child" data-index="4">
                            <div class="clear-img panel-widget-style panel-widget-style-for-269-2-1-0">
                                <div class="textwidget">
                                    <p><img class="alignnone size-full wp-image-278" src="/img/telephony.png" alt="telephony" width="840" height="1000" /></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="pg-269-3" class="panel-grid panel-has-style">
            <div class="pagelayout-row panel-row-style panel-row-style-for-269-3">
                <div id="pgc-269-3-0" class="panel-grid-cell">
                    <div class="pagelayout panel-cell-style panel-cell-style-for-269-3-0">
                        <div id="panel-269-3-0-0" class="so-panel widget widget_black-studio-tinymce widget_black_studio_tinymce panel-first-child panel-last-child" data-index="5">
                            <div class="clear-img panel-widget-style panel-widget-style-for-269-3-0-0">
                                <div class="textwidget">
                                    <p><img class="alignnone size-full wp-image-275" src="/img/schemes.png" alt="schemes" width="800" height="600" /></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="pgc-269-3-1" class="panel-grid-cell">
                    <div class="pagelayout panel-cell-style panel-cell-style-for-269-3-1">
                        <div id="panel-269-3-1-0" class="so-panel widget widget_black-studio-tinymce widget_black_studio_tinymce panel-first-child panel-last-child" data-index="6">
                            <div class="textwidget">
                                <h2>Adapting to your needs</h2>
                                <p>Being based on the most flexible desktop in the world means you can truely make your phone your own. Add and modify widgets, change colour schemes, fonts, and much, much more.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
