<header id="masthead" class="main-header" role="banner">
    <div class="pageHeader">
        <div class="row">
            <div class="site-branding col-md-3">

                <h1 class="logo">
                    <a href="/index.html">
                        <img src="/img/logo.svg" alt="Plasma Mobile">
                    </a>
                </h1>

            </div>
            <!-- .site-branding -->

            <nav id="site-navigation" class="main-navigation col-md-9" role="navigation">
                <div>
                    <div id="mega-menu-wrap-primary" class="mega-menu-wrap">
                        <div class="mega-menu-toggle" tabindex="0">
                            <div class='mega-toggle-block mega-menu-toggle-block mega-toggle-block-right mega-toggle-block-1' id='mega-toggle-block-1'></div>
                        </div>
                        <ul id="mega-menu-primary" class="mega-menu mega-menu-horizontal mega-no-js" data-event="hover_intent" data-effect="disabled" data-effect-speed="200" data-second-click="close" data-document-click="collapse" data-vertical-behaviour="standard" data-breakpoint="991" data-unbind="true">
                            <li class='mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom mega-align-bottom-left mega-menu-flyout mega-has-icon'><a class="mega-menu-link" href="/index.html" tabindex="0">Home</a></li>
                            <li class="mega-nav-link mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-has-children mega-align-bottom-left mega-menu-flyout mega-menu-item-51"><a class="mega-menu-link" href="">Project</a>
                                <ul class="mega-sub-menu">
                                    <li class='mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom mega-align-bottom-left mega-menu-flyout mega-has-icon'><a class="mega-menu-link" href="/vision" tabindex="0">Vision</a></li>
                                    <li class='mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom mega-align-bottom-left mega-menu-flyout mega-has-icon'><a class="mega-menu-link" href="/overview" tabindex="0">Technology</a></li>
                                    <li class='mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom mega-align-bottom-left mega-menu-flyout mega-has-icon'><a class="mega-menu-link" href="/screenshots" tabindex="0">Screenshots</a></li>
                                    <li class='mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom mega-align-bottom-left mega-menu-flyout mega-has-icon'><a class="mega-menu-link" href="https://phabricator.kde.org/project/view/28/" tabindex="0">Task Board</a></li>
                                    <li class='mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom mega-align-bottom-left mega-menu-flyout mega-has-icon'><a class="mega-menu-link" href="https://docs.plasma-mobile.org">Documentation</a></li>
                                    <li class='mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom mega-align-bottom-left mega-menu-flyout mega-has-icon'><a class="mega-menu-link" href="/faq">FAQ</a></li>
                                    <li class='mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom mega-align-bottom-left mega-menu-flyout mega-has-icon'><a class="mega-menu-link" href="/roadmap">Roadmap</a></li>
                                </ul>
                            </li>
                            <li class="mega-nav-link mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-has-children mega-align-bottom-left mega-menu-flyout mega-menu-item-51"><a class="mega-menu-link" href="" tabindex="0">Community</a>
                                <ul class="mega-sub-menu">
                                    <li class='mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom mega-align-bottom-left mega-menu-flyout mega-has-icon'><a class="mega-menu-link" href="/findyourway" tabindex="0">Contributing</a></li>
                                    <li class='mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom mega-align-bottom-left mega-menu-flyout mega-has-icon'><a class="mega-menu-link" href="/join" tabindex="0">Join</a></li>
                                </ul>
                            </li>
                            <li class='mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom mega-align-bottom-left mega-menu-flyout mega-has-icon'><a class="mega-menu-link" href="/get" tabindex="0">Install</a></li>
                            <li class='mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom mega-align-bottom-left mega-menu-flyout mega-has-icon'><a class="mega-menu-link" href="/blog" tabindex="0">Blog</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- site-navigation -->
        </div>
    </div>
</header>
<!-- masthead -->
